<a href="https://colab.research.google.com/github/KImondorose/data-science/blob/main/For%2C_While%2C_Continue_Lab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
people = [
    {'name': "Daniel", 'age': 29, 'job': "Engineer", 'pet': "Cat", 'pet_name': "Gato"},
    {'name': "Katie", 'age': 30, 'job': "Teacher", 'pet': "Dog", 'pet_name': "Frank"},
    {'name': "Owen", 'age': 26, 'job': "Sales person", 'pet': "Cat", 'pet_name': "Cosmo"},
    {'name': "Josh", 'age': 22, 'job': "Student", 'pet': "Cat", 'pet_name': "Chat"},
    {'name': "Estelle", 'age': 35, 'job': "French Diplomat", 'pet': "Dog", 'pet_name': "Gabby"},
    {'name': "Gustav", 'age': 24, 'job': "Brewer", 'pet': "Dog", 'pet_name': "Helen"}
]
cat_owners = []
for person in people:
    if person['age'] < 28 and person['pet'] == "Cat":
        cat_owners.append(person)
cat_owners

[{'name': 'Owen',
  'age': 26,
  'job': 'Sales person',
  'pet': 'Cat',
  'pet_name': 'Cosmo'},
 {'name': 'Josh',
  'age': 22,
  'job': 'Student',
  'pet': 'Cat',
  'pet_name': 'Chat'}]

In [23]:
slices_of_pie = 6
slices_eaten = 0


# use a while loop to eat each slice of pie
# add each slice to the slices_eaten variable

while slices_eaten < slices_of_pie:
    print('Another slice eaten!')
    slices_eaten += 1
    print('Now eaten {} slices!'.format(slices_eaten))

Another slice eaten!
Now eaten 1 slices!
Another slice eaten!
Now eaten 2 slices!
Another slice eaten!
Now eaten 3 slices!
Another slice eaten!
Now eaten 4 slices!
Another slice eaten!
Now eaten 5 slices!
Another slice eaten!
Now eaten 6 slices!

In [24]:
time_for_breakfast = 1468
number_of_cooked_pancakes= 0
while time_for_breakfast > 0 and number_of_cooked_pancakes < 5:
    time_for_breakfast -= sum([5,27,5,27,5])
    number_of_cooked_pancakes += 1
time_for_breakfast

1123

In [13]:
dog_owner_names = []
dog_names = []
for person in people:
    if person['pet'] == "Dog":
        dog_owner_names.append(person['name'])
        dog_names.append(person['pet_name'])
    else:
        continue
dog_owner_names

['Katie', 'Estelle', 'Gustav']

In [14]:
dog_names

['Frank', 'Gabby', 'Helen']

In [22]:
list_of_numbers = list(range(0, 100))
list_of_odd_numbers_plus_ten = []

# use a for loop to create a list of odd numbers from the list of numbers from 0 to 100
# each time there is an odd number, add 10 to it and append it to the list_of_odd_numbers_plus_ten
# stop adding numbers to the list when there are 35 numbers
# use break and continue statements in your code
for number in list_of_numbers:
    if len(list_of_odd_numbers_plus_ten) > 35:
        break
    elif number % 2 != 0:
      number + 10
      list_of_odd_numbers_plus_ten.append(number)
    elif number % 2 == 0:
      continue
print('Sum: ' , sum(list_of_odd_numbers_plus_ten))


    # Continue writing code here

Sum:  1296

In [5]:
true = [1, 2, 3, 4]
true[0] = 3
true

[3, 2, 3, 4]

In [6]:
time_for_breakfast = 1468
number_of_cooked_pancakes= 0
while time_for_breakfast > 0 and number_of_cooked_pancakes < 5:
    time_for_breakfast -= sum([5,27,5,27,5])
    number_of_cooked_pancakes += 1
time_for_breakfast

1123

In [9]:
time_for_breakfast = 1468
number_of_cooked_pancakes = 0
while time_for_breakfast > 0 and number_of_cooked_pancakes < 5:
  time_for_breakfast -= sum([5,27,5,27,5])
  number_of_cooked_pancakes += 1
time_for_breakfast

1123

In [26]:
line_of_hungry_patrons = list(range(0,30))
fed_patrons = []
for i in line_of_hungry_patrons:
    if i % 2 == 0:
        fed_patrons.append(i)
        line_of_hungry_patrons.remove(i)
print(line_of_hungry_patrons)
print(fed_patrons)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]